.wrapper {
  background: #181818;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  .arrowButton {
    background: none;
    border: 0;
    cursor: pointer;
    width: 20px;
    height: 33px;
    svg {
      width: 20px;
      height: 33px;
    }
  }
  .next {
    transform: rotate(180deg);
  }
}
.content {
  position: relative;
}
.swiperSlide {
  width: fit-content !important;
}
.image {
  width: 400px;
  height: 400px;
}
