.button {
  font-size: 14px;
  border: 0;
  outline: none;
  padding: 12px 36px;
  border-radius: 500px;
  cursor: pointer;
}
.transparent {
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent;
  &:hover {
    background: #ffffff;
    color: #000000;
  }
}

.outlined {
  color: #ffffff;
  background: #282828;
  &:hover {
    background: #ffffff;
    color: #000000;
  }
}
